body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.upload-container {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center !important;
    padding: 10px;
    border: 2px dotted grey;
    min-height: 250px;
}

.dropzone {
    text-align: center;
}

.dropzone i {
    font-size: 3rem;
    color: grey;
}

.dropzone h3 {
    color: grey;
    font-weight: 400;
}

.upload-container img {
    width: 20%;
    margin: 5px;
}